<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" 
        xmlns:tizen="http://tizen.org/ns/widgets" 
        id="http://vionplayer.app/tizen" 
        version="1.2.0" 
        viewmodes="maximized">
    <tizen:application id="vionplayer.VionPlayer" package="vionplayer" required_version="2.4" exec="index.html" screen-orientation="landscape"/>
    <content src="index.html"/>
    <icon src="icon.png"/>
    <name>Vion Player</name>
    <description>Vion Player is a fast, modern media player designed for Smart TVs to stream personal M3U playlists.</description>
    <tizen:profile name="tv-samsung"/>
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
    
    <!-- Permissões obrigatórias para reprodução de vídeo e controle remoto no Tizen -->
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
